version: '3.7'

services:
  {{ registry_service_name }}:
    image: registry:{{ registry_version }}
    container_name: {{ registry_service_name }}
    hostname: {{ registry_service_name }}
    ports:
      - '{{ registry_exposition_ip }}:{{ registry_exposition_port }}:5000/tcp'
    restart: always
    volumes:
      - /mnt/{{ registry_service_name }}/registry:/var/lib/registry
      - /srv/{{ registry_service_name }}/config.yml:/etc/docker/registry/config.yml:ro

networks:
  default:
    name: registry
    driver: bridge
